
Cap08/.ipynb_checkpoints/DSA-Python-Cap08-01-Classes-checkpoint.ipynb
Cap09/.ipynb_checkpoints/DSA-Python-Cap09-NumPy-checkpoint.ipynb
Cap10/.ipynb_checkpoints/DSA-Python-Cap10-Pandas-checkpoint.ipynb
Cap11/.ipynb_checkpoints/DSA-Python-Cap11-Matplotlib-checkpoint.ipynb
Cap10/.ipynb_checkpoints/DSA-Python-Cap10-Pandas-checkpoint.ipynb
Cap10/.ipynb_checkpoints/DSA-Python-Cap10-Pandas-checkpoint.ipynb
Cap10/.ipynb_checkpoints/DSA-Python-Cap10-Pandas-checkpoint.ipynb
Cap13/.ipynb_checkpoints/Projeto2-Perguntas-checkpoint.ipynb
Cap12/.ipynb_checkpoints/DSA-Python-Cap12-SQL-checkpoint.ipynb
Cap11/.ipynb_checkpoints/DSA-Python-Cap11-Seaborn-checkpoint.ipynb
Cap13/.ipynb_checkpoints/Projeto2-Respostas-checkpoint.ipynb
Cap14/.ipynb_checkpoints/DSA-Python-Cap14-Statsmodels-checkpoint.ipynb
Cap15/.ipynb_checkpoints/DSA-Python-Cap15-Scikit-Learn-checkpoint.ipynb
Cap16/.ipynb_checkpoints/DSA-Python-Cap16-Series-Temporais-checkpoint.ipynb
Cap17/.ipynb_checkpoints/DSA-Python-Cap17-DeepLearning-checkpoint.ipynb
Cap18/.ipynb_checkpoints/DSA-Python-Cap18-Lab5-checkpoint.ipynb
Projeto3/.ipynb_checkpoints/Chatbot GPT-4-checkpoint.ipynb
